.profile__info {
  align-self: center;
  display: grid;
  grid-template-columns: 294px 24px;
  grid-template-rows: 39px 18px;
  gap: 16px 18px;
}

@media screen and (max-width: 768px) {
  .profile__info {
    grid-template-columns: 1fr 18px;
    grid-template-rows: 26px 14px;
    gap: 14px 10px;
    justify-self: start;
  }
}

@media screen and (max-width: 425px) {
  .profile__info {
    justify-self: center;
    max-width: calc(100% - 38px);
  }
}
