.popup__title {
  width: 358px;
  margin: 37px auto 13px;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 550px) {
  .popup__title {
    width: 238px;
    margin: 27px auto 13px;
    font-size: 18px;
    line-height: 22px;
  }
}