.elements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 17px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 934px) {
  .elements {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    width: calc(100% - 114px);
  }
}

@media screen and (max-width: 768px) {
  .elements {
    width: calc(100% - 48px);
    gap: 20px 10px;
  }
}

@media screen and (max-width: 630px) {
  .elements {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 425px) {
  .elements {
    width: calc(100% - 38px);
  }
}
