.elements__title {
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 4px 0 0 0;
  text-overflow: ellipsis; /*набор свойств реализ. многоточие при переполнении*/
  white-space: nowrap; /*набор свойств реализ. многоточие при переполнении*/
  overflow: hidden; /*набор свойств реализ. многоточие при переполнении*/
  width: 185px;
}
