.popup__picture-title {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #FFFFFF;
  text-overflow: ellipsis; /*набор свойств реализ. многоточие при переполнении*/
  white-space: nowrap; /*набор свойств реализ. многоточие при переполнении*/
  overflow: hidden; /*набор свойств реализ. многоточие при переполнении*/
  margin: 0;
  margin-top: 7px;
}
